<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <h1>Register</h1>
                <!-- <p class="text-muted">Create your account</p> -->
                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Firstname" autocomplete="firstname" required>
                </div> -->
                
                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="firstname">Firstname</label>
                    <input
                      formControlName="firstname"
                      type="text"
                      class="form-control is-invalid"
                      id="firstname"
                      placeholder="Enter your firstname"
                    />
                  
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="lastname">Lastname</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      placeholder="Enter your lastname"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email address"
                  />
                  <div class="error-msg mb-3">
                    <span *ngIf="registerForm?.controls?.email?.touched && registerForm?.controls?.email?.errors?.required || registerForm?.controls?.email?.errors?.invalid || registerForm?.controls?.email?.errors?.pattern">Email is required or invalid.</span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Enter your password"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="confirmPassword">Confirm password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      placeholder="Confirm password"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="date-input">Date of birth</label>
                  <div>
                    <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                    <!-- <span class="help-block">Please enter a valid date</span> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="select1">Role</label>
                  <div>
                    <select id="select1" name="select1" class="form-control">
                      <option value="0">Please select role</option>
                      <option value="1">Management</option>
                      <option value="2">Project manager</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="gender">Gender</label>
                  <div>
                    <div class="form-check form-check-inline mr-1" id="gender">
                      <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-block btn-success">
                  Create Account
                </button>
              </form>
              <p class="pt-2 text-right">
                Already have an account?
                <a [routerLink]="['/login']">Sign in</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
